.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



img{
  width: 35px;
  height: 35px;
  margin-right: 2px;
}
.text{
  color: #5a7b85;
  font-weight: bold;
}

/* @media only screen and (max-width: 600px) {
  .main_cont{
    width: 400px;
    margin: auto;
  }
} */
/* @media only screen and (max-width: 1200px) {
  .main_cont{
    width: 400px;
    margin: auto;
  }
} */
/* .border .border-secondary{
  color: rgb(0, 0, 0);
} */
.todoitem{
  border-left: 6px solid rgb(230, 73, 99);
  /* background-color: #ebf6fa; */
  border-collapse: separate; 
  background-color: #ebf6fa;
  border-radius: 12px;
  /* overflow: hidden;
  perspective: 1px; */
}
.but{
  margin-left: 15px;
}

input:focus::placeholder {
  color: transparent;
}
#yash{
  background-color: rgb(230, 73, 99);
  border: none;
}
.about{
  background-color: #ebf6fa;
}
/* .navCol{
  margin-top: 60px;
} */
.notodo{
  background-color: #ebf6fa;
  border-radius: 15px;
}
/* .navi{
  background-color: #ebf6fa;
} */
.success{
  padding-top: 6px;
  font-size: large;
}